// Your custom styles
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/* SETTINGS */

html,
body,
.views {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    height: 100%;
}

.number-type {
    font-family: 'Questrial', sans-serif!important;
    & .signo-peso {
        top: -2px;
        vertical-align: middle;
    }
}


/* NAVAR MENU */

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.top-nav-collapse {
    background-color: $primary-color !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
    box-shadow: none;
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: $primary-color !important;
    }
}

.nav-item {
    font-weight: 500;
    & .nav-link {
        border-radius: 5px;
    }
}

.active-cotizar {
    background: $third-color;
    margin-right: .5rem;
    overflow: hidden;
    & .nav-link {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
        width: 100%;
    }
}

.dropdown-menu {
    box-shadow: 0 400px 0 rgba(0, 0, 0, .7);
}

.news-title {
    font-size: 1rem!important;
}


/* CARRUSEL */

.carousel,
.carousel-item,
.carousel-item.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item-home:nth-child(1) {
    background-image: url("../img/slider-1.jpg");
}

.carousel-item-home:nth-child(2) {
    background-image: url("../img/slider-2.jpg");
}

.carousel-item-home:nth-child(3) {
    background-image: url("../img/slider-3.jpg");
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

//SERVICIOS
//PROYECTOS
.md-pills {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    @media screen and (max-width: 480px) {
        flex-flow: nowrap;
    }
}

.pills-default li {
    padding: 1rem .6rem!important;
    & .nav-link {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @media screen and (max-width: 480px) {
            padding: .5rem;
            width: 100px;
            min-width: 100px;
            max-width: 100px;
        }
    }
}

.pills-default .nav-link.active {
    background-color: $secondary-color!important;
    color: white!important;
}

//BACKGROUND
.declima-blue-bg {
    background: $primary-color!important;
}

.declima-cian-bg {
    background: $secondary-color!important;
}

.declima-green-bg {
    background: $third-color!important;
}

.text-third {
    color: $third-color;
}

//Close
.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

 ::selection {
    background: #3fa7f3;
    color: #fff;
}

//EQUIPOS HOME
.dcto-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem!important;
}


/* MODAL COTIZADOR */

.md-form input[type=text].valid,
.md-form input[type=email].valid,
.md-form input[type=tel].valid,
.md-form input[type=password].valid,
.md-form input[type=url].valid,
.md-form textarea.md-textarea.valid {
    border-bottom: 1px solid $third-color;
    -webkit-box-shadow: 0 1px 0 0 $third-color;
    box-shadow: 0 1px 0 0 $third-color;
}

.md-form input[type=text].valid+label:after,
.md-form input[type=email].valid+label:after,
.md-form input[type=tel].valid+label:after,
.md-form input[type=password].valid+label:after,
.md-form input[type=url].valid+label:after {
    color: $third-color;
}

.md-form input[type=tel] {
    font-family: 'Questrial', sans-serif;
}

//OPTION EMPRESA O PERSONA
.bg-third {
    background: $third-color;
    background-color: $third-color;
}

.was-validated .form-control:valid {
    border-color: $third-color;
    box-shadow: 0 1px 0 0 $third-color;
}

.was-validated .form-control:invalid {
    border-color: red;
}

//STEP
.success-color,
ul.stepper .step.done:before {
    background-color: $third-color!important;
}

ul.stepper .step:before {
    font-family: 'Questrial', sans-serif;
    font-weight: bold!important;
}

.select-wrapper input.select-dropdown {
    font-size: .9rem;
    color: #4f4f4f!important;
}

.form-check-input[type=checkbox]+label,
label.btn input[type=checkbox]+label {
    padding-left: 30px;
}

.md-form label {
    font-size: .9rem;
}

.form-check-input label {
    font-size: .9rem;
}

.form-check-input[type=radio]:not(:checked)+label:after,
.form-check-input[type=radio]:not(:checked)+label:before,
label.btn input[type=radio]:not(:checked)+label:after,
label.btn input[type=radio]:not(:checked)+label:before {
    border: 2px solid #8a8a8a!important;
}

.cont-calc-cantidad {
    border-radius: 2px;
    box-shadow: 0 0 0 1px lightgray;
    overflow: hidden;
    height: 25px!important;
}

//VALIDATION
.invalid-feedback {
    color: red;
    font-size: .8rem;
}