// Your Color and gradient
$primary-color: #00587A;
$secondary-color: #48a5f9;
$third-color: #80c80e;
$bg-third: #80c80e!important;
//Shadows
$z-depth-6: 0 0 20px -5px rgba(0, 0, 0, 0.07)!important;
$z-depth-7: 0 10px 20px -10px rgba(0, 0, 0, .3)!important;
$z-depth-8: 0 5px 15px -4px rgba(0, 0, 0, .15)!important;