// Your Color and gradient
$primary-color: #00587A;
$secondary-color: #48a5f9;
$third-color: #80c80e;
$bg-third: #80c80e!important;
//Shadows
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
0 2px 10px 0 rgba(0, 0, 0, 0.03) !important;