//Split Muro

/* Required for full background image */

.view-intro {
    height: 70%;
    @media (max-width: 740px) {
        margin-top: 3.5rem;
        height: 850px;
    }
    @media (min-width: 800px) and (max-width: 850px) {
        height: 600px;
    }
    h6 {
        line-height: 1.7rem;
    }
    .rgba-gradient {
        background: linear-gradient(to -90deg, rgba($primary-color, 1), rgba($secondary-color, 0.2) 100%);
    }
}

//Table
.table-hover tbody tr:hover {
    background-color: white;
    opacity: 1;
}